<div class="header">
    <h1>My Store</h1>
    <h4 routerLink="/">Product List</h4> <h4> | </h4> <h4>Cart</h4>
</div>

<div class="cart-container">
    <p *ngIf="productsInCart.length == 0" style="font-weight: bolder;"> No items in Cart</p>
    <div class="cart-products-img" *ngFor="let product of productsInCart"> <img [src]="product.url" [alt]="product.description" width="180">
    <!-- </div>
    <div class="cart-products-details" *ngFor="let product of productsInCart"> -->
    <section class="cart-products-img">
        <p style="font-weight: bolder">{{product.name}}</p>
        <p>${{product.price}}</p><br>
        <form>
            <label id="amount-label" for="amount">Amount: </label>
            <input #amount type="number" id="amount" name="amount" min="0" step="1" [value]="product.quantity" (change)="updateProductQuantityInCart(product, amount.value); updatePriceOfCart(productsInCart)">
        </form>
    </section>
    </div>
    
    <p style="font-weight: bolder; font-size:x-large;" >Total: ${{totalPriceOfCart}}</p>

    <!-- Use an ngIf to hide form if cart is empty -->
    <app-form [cashSpent]="totalPriceOfCart"></app-form>
 </div>

