.header {
text-align: center;
background-color: lightskyblue;
color: white;
width: auto;
margin-top: -25px;
margin-left: -8px;
margin-right: -10px;
padding: 0;
}
    
.header h1 {
font-weight:800
}
    
.header h4 {
display: inline-block;
margin: 5px;
}

.header h4:hover {
text-decoration: underline;
font-weight: bolder;
text-shadow: 10px;
cursor: pointer;
}

.cart-container {
margin-top: 70px;
display: grid;
/* display: block; */
width: 100%;
justify-content: center;
align-items: center;
text-align: center;
grid-template-columns: 60% 40%;
/* border: 5px solid rgb(111,41,97); */
row-gap: 30px;
}

.cart-container .cart-products-img {
display:inline-block;
grid-column: 1;
}

.cart-container section {
vertical-align:85px;
justify-items: center;
}


.cart-container app-form {
grid-column: 2/2;
grid-row: 1/1;
flex-direction: column;
border: 5px solid rgb(111,41,97);
width: 80%;
justify-items: left;
height: 100%;
}

.cart-container .form input {
width: 80%;
}

.cart-container .form > label {
background-color: rgba(39, 240, 52, 0.4);
display: contents;
}

.cart-container .form button {
background-color: rgb(85, 167, 218);
color: azure;
border: grey;
}

.cart-container .form button:disabled {
background-color: gray;
cursor:default
}

.cart-container .form button:hover {
cursor: pointer;
}
/* text-align: left;
justify-items: left;
justify-content: left; */
/* 
align-content: flex-start;
align-items: flex-start;
align-self: ; */

/* .cart-container .cart-products-img {
grid-column: 1;
border: 5px solid rgb(111,41,97);
background-color: rgba(39, 240, 52, 0.4);
}

.cart-container .cart-products-details {
grid-column: 2;
background-color: rgba(39, 240, 52, 0.4);
border: 5px solid rgb(111,41,97);
}


.cart-container .form {
grid-column: 3;
grid-row: 2;
grid-column-start: form;
flex-direction: column;
border: 5px solid rgb(111,41,97);
width: 60%;
align-items:flex-start;
justify-items: center;
} */


    