<div class="header">
    <h1>My Store</h1>
    <h4 routerLink="/">Product List</h4> <h4> | </h4> <h4>Cart</h4>
</div>

<div class="cart-container">
    <p *ngIf="productsInCart.length == 0" style="font-weight: bolder;"> No items in Cart</p>
    <div class="cart-products-img" *ngFor="let product of productsInCart"> <img [src]="product.url" [alt]="product.description" width="180">
        <p>{{product.name}}</p>
        <p>{{product.price}}</p><br>
        <label for="amount">Amount: </label>
        <input type="number" id="amount" name="amount">
    </div>
    </div>
<div class="form">
        <form target="_self">
            <label for="fullname">Full Name</label><br>
            <input type="text" id="fullname" name="fullname" placeholder="John Doe"><br>
            <label for="address">Mailing Address</label><br>
            <input type="text" id="address" name="address" placeholder="123 John Doe St"><br>
            <label for="email">Email</label><br>
            <input type="email" id="email" name="address" placeholder="johndoe@example.com"><br>
            <label for="card"> Credit Card</label><br>
            <input type="" id="card" name="card" placeholder="(16-digit number)"><br>
            <button type="submit"> Pay </button>
        
        </form>
 </div>

