<div class="header">
    <h1>My Store</h1>
    <h4 class="product-list" routerLink="/">Product List</h4> <h4> | </h4> <h4 routerLink="/cart">Cart</h4>
</div>

<div class="main">
    <p style="color: aquamarine; font-size: 50px; font-weight: bolder;" > Success!</p>
    <p>Thank you, <span style="font-weight: bolder;">{{user.fullName}}</span></p>
    <p>Your <span style="font-weight: bolder;">${{user.cashSpent}}</span> order is confirmed!</p>
    <p>Please allow 1-3 business day(s) for shipping.</p>

    <button routerLink="/"> Back to product list</button>
</div>
