.header {
    text-align: center;
    background-color: lightskyblue;
    color: white;
    width: auto;
    margin-top: -25px;
    margin-left: -8px;
    margin-right: -10px;
    padding: 0;
    }
    
.header h1 {
font-weight:800
}

.header h4 {
display: inline-block;
margin: 5px;
}

.header .product-list:hover {
cursor: pointer;
text-decoration: underline;
}

.main {
margin-top: 200px;
text-align: center;
}

.main button {
background-color: rgb(57, 166, 234);
color: azure;
box-shadow:10px;
border-radius: 5px;
text-align: center;
}

.main button:hover {
cursor: pointer;
}